body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  line-height: 110px;
}

.header {
  height: 110px;
  color: #fff;
  background-color: #2C3E50;
  background-image: url(assets/img/header.svg);
  background-size: cover;
  margin-bottom: 40px;
  overflow-x: hidden;
}

.header h1 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 110px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}