$color-header: #2C3E50;
$color-headerTitle: #ffffff;
$color-button: #d62c1a;
$color-body-title: #000000;
$color-swiper: #007aff;
$color-search-border: #ced4da;
$color-footer: #33333f;

$content-width: 1600px;
$tablet-width: 1200px;
$mobile-big-width: 820px;
$mobile-width: 500px;
